<div class="d-flex flex-row ds-value-row" *ngVar="mdValue.newValue.isVirtual as isVirtual" role="row"
     cdkDrag (cdkDragStarted)="dragging.emit(true)" (cdkDragEnded)="dragging.emit(false)"
     [ngClass]="{ 'ds-warning': mdValue.reordered || mdValue.change === DsoEditMetadataChangeTypeEnum.UPDATE, 'ds-danger': mdValue.change === DsoEditMetadataChangeTypeEnum.REMOVE, 'ds-success': mdValue.change === DsoEditMetadataChangeTypeEnum.ADD, 'h-100': isOnlyValue }">
  <div class="flex-grow-1 ds-flex-cell ds-value-cell d-flex align-items-center" *ngVar="(mdRepresentation$ | async) as mdRepresentation" role="cell">
      <div class="dont-break-out preserve-line-breaks" *ngIf="!mdValue.editing && !mdRepresentation">
        {{ mdValue.newValue.value }}
        <div *ngIf="mdValue.newValue.authority">
          <small style="font-size: small;">{{ mdValue.newValue.authority }}</small>
        </div>
      </div>
      <div [ngClass]="{'w-100 position-relative': mdValue.editing && !mdRepresentation}">
        <textarea class="form-control" rows="5" *ngIf="mdValue.editing && !mdRepresentation" [(ngModel)]="mdValue.newValue.value"
                  [dsDebounce]="200" (onDebounce)="valueChanged()">
        </textarea>
      <div *ngIf="mdValue.newValue.authority && mdValue.editing && !mdRepresentation">
        <small style="font-size: small;">{{ mdValue.newValue.authority }}</small>
      </div>
      <div class="autocomplete dropdown-menu" [ngClass]="{'show': (authoritySuggestions | async)?.length > 0}">
        <div class="dropdown-list">
          <div *ngFor="let authoritySuggestion of (authoritySuggestions | async)">
            <a href="javascript:void(0);" class="d-block dropdown-item" (click)="select(authoritySuggestion)">
              <span [innerHTML]="authoritySuggestion.display"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex" *ngIf="mdRepresentation">
      <a class="mr-2" target="_blank" [routerLink]="mdRepresentationItemRoute$ | async">{{ mdRepresentationName$ | async }}</a>
      <ds-type-badge [object]="mdRepresentation"></ds-type-badge>
    </div>
  </div>
  <div class="ds-flex-cell ds-lang-cell" role="cell">
    <div class="dont-break-out preserve-line-breaks" *ngIf="!mdValue.editing">{{ mdValue.newValue.language }}</div>
    <input class="form-control" type="text" *ngIf="mdValue.editing" [(ngModel)]="mdValue.newValue.language"
           [dsDebounce]="300" (onDebounce)="confirm.emit(false)" />
  </div>
  <div class="text-center ds-flex-cell ds-edit-cell" role="cell">
    <div class="btn-group">
      <div class="edit-field">
        <div class="btn-group edit-buttons" [ngbTooltip]="isVirtual ? (dsoType + '.edit.metadata.edit.buttons.virtual' | translate) : null">
          <button class="btn btn-outline-primary btn-sm ng-star-inserted" id="metadata-edit-btn" *ngIf="!mdValue.editing"
                  [title]="dsoType + '.edit.metadata.edit.buttons.edit' | translate"
                  ngbTooltip="{{ dsoType + '.edit.metadata.edit.buttons.edit' | translate }}"
                  [disabled]="isVirtual || mdValue.change === DsoEditMetadataChangeTypeEnum.REMOVE || (saving$ | async)" (click)="edit.emit()">
            <i class="fas fa-edit fa-fw"></i>
          </button>
          <button class="btn btn-outline-success btn-sm ng-star-inserted" id="metadata-confirm-btn" *ngIf="mdValue.editing"
                  [title]="dsoType + '.edit.metadata.edit.buttons.confirm' | translate"
                  ngbTooltip="{{ dsoType + '.edit.metadata.edit.buttons.confirm' | translate }}"
                  [disabled]="isVirtual || (saving$ | async)" (click)="confirm.emit(true)">
            <i class="fas fa-check fa-fw"></i>
          </button>
          <button class="btn btn-outline-danger btn-sm" id="metadata-remove-btn"
                  [title]="dsoType + '.edit.metadata.edit.buttons.remove' | translate"
                  ngbTooltip="{{ dsoType + '.edit.metadata.edit.buttons.remove' | translate }}"
                  [disabled]="isVirtual || (mdValue.change && mdValue.change !== DsoEditMetadataChangeTypeEnum.ADD) || mdValue.editing || (saving$ | async)" (click)="remove.emit()">
            <i class="fas fa-trash-alt fa-fw"></i>
          </button>
          <button class="btn btn-outline-warning btn-sm" id="metadata-undo-btn"
                  [title]="dsoType + '.edit.metadata.edit.buttons.undo' | translate"
                  ngbTooltip="{{ dsoType + '.edit.metadata.edit.buttons.undo' | translate }}"
                  [disabled]="isVirtual || (!mdValue.change && mdValue.reordered) || (!mdValue.change && !mdValue.editing) || (saving$ | async)" (click)="undo.emit()">
            <i class="fas fa-undo-alt fa-fw"></i>
          </button>
        </div>
      </div>
      <button class="btn btn-outline-secondary ds-drag-handle btn-sm" id="metadata-drag-btn" *ngVar="(isOnlyValue || (saving$ | async)) as disabled"
              cdkDragHandle [cdkDragHandleDisabled]="disabled" [ngClass]="{'disabled': disabled}" [disabled]="disabled"
              [title]="dsoType + '.edit.metadata.edit.buttons.drag' | translate"
              ngbTooltip="{{ dsoType + '.edit.metadata.edit.buttons.drag' | translate }}">
        <i class="fas fa-grip-vertical fa-fw"></i>
      </button>
    </div>
  </div>
</div>
